@import "tailwindcss";

:root {
    min-height: 100%;
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body, html{
  font-family: Roboto;
  min-height: 100%;
}
